#title_con{
    position: relative;
    font-size: 35px;
    padding-top: 40px;
}
#a1{
    color: #777777;
}
.blog_text{
    position: relative;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}