{% block body %}
    <div class="backimg"></div>
    <div class="headers">
        <div class="topsHead">
            <div ><a href="javascript:void(0)" class="left-side" ><i class="iconfont icon-arr-right"></i></a></div>
            <a href="/index" id="smallTitle">Christa's blog</a>
        </div>
        <div class="titles">Christa's blog</div>
        <p>热爱web安全的技术的小白</p>
</div>
    <a href="javascript:void(0)" class="gotop" onclick="goto_top()"><i class="iconfont icon-xiangshang" ></i></a>
{% endblock %}