{% block contant %}
          <section class="list">
            <header class="pure">
              <div>
                <i class="fas fa-medal fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;精选项目</div>
              <a class="rightBtn" target="_blank" rel="external nofollow noopener noreferrer" href="https://github.com/chritsa" >
                <i class="fas fa-arrow-right fa-fw"></i>
              </a>
            </header>
            <div class="content pure">
              <ul class="entry">
                <li>
                  <a class="flat-box waves-effect waves-block" title="https://github.com/chritsa/c1blog" href="https://github.com/chritsa/c1blog">
                    <div class="name">
                      <i class="fas fa-cube fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;Clblog</div>
                    <div class="badge">(Django 博客)</div></a>
                </li>
              </ul>
            </div>
          </section>
{% endblock %}