{% block contant %}
          <section class="list">
            <header class="pure">
              <div>
                <i class="fas fa-medal fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;精选项目</div>
              <a class="rightBtn" target="_blank" rel="external nofollow noopener noreferrer" href="{{ auth.github }}" >
                <i class="fas fa-arrow-right fa-fw"></i>
              </a>
            </header>
            <div class="content pure">
              <ul class="entry">
                  {% for pros in pro %}
                <li>
                  <a class="flat-box waves-effect waves-block" title="{{ pros.url }}" href="{{ pros.url }}">
                    <div class="name">
                      <i class="fas fa-cube fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;{{ pros.title }}</div>
                    <div class="badge">({{ pros.type }})</div></a>
                </li>
                  {% endfor %}
              </ul>
            </div>
          </section>
{% endblock %}