{% block content %}
    <div id="hamburgermenu">
        <div class="side-box">
            <div class="total">Total:{{ totals }}</div>
            <div class="annual-index">
                <ul class="year-list">
                    {% for ThemesSide in side_in %}
                    <li class="post-item">
                            <span class="list-data">{{ ThemesSide.datetime | date:"Y/m/d"}}</span>
                            <a href="{%url 'detail' ThemesSide.id  %}" class="lists-title">{{ ThemesSide.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>
{% endblock %}
