#title_con{
    position: relative;
    font-size: 35px;
    padding-top: 40px;
}
#a1{
    color: #777777;
}
.blog_text{
    position: relative;
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}

@media screen and (max-width:1200px){
    .blog_text{
    width: 90%;
    font-size:30px;
}
}
@media screen and (max-width:800px){
    .blog_text{
    width: 100%;
    font-size:40px;
}
}
